* {
    margin: 0;
    padding: 0;
    font-family: 'Times New Roman', Times, serif;
}

body {
    background: url('/img/download.gif') center / cover no-repeat fixed;
    overflow: hidden;
}

section {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    width: 100%;
}

.form-box {
    position: relative;
    width: 390px;
    height: 420px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: transparent;
    border: 2px solid #fff;
    border-radius: 10%;
    backdrop-filter: blur(8px);
}

h2 {
    text-align: center;
    color: #fff;
}

.inputbox {
    position: relative;
    margin: 30px 0;
    width: 310px;
    border-bottom: 2px solid #fff;
}

.inputbox label {
    position: absolute;
    top: 50%;
    left: 5px;
    transform: translateY(-50%);
    color: #fff;
    font-size: 1em;
    pointer-events: none;
    transition: 0.5s;
}

.inputbox input {
    width: 100%;
    height: 30px;
    background: transparent;
    border: none;
    outline: none;
    font-size: 1em;
    padding: 0 35px 0 5px;
    color: #fff;
}

.inputbox ion-icon {
    position: absolute;
    top: 5px;
    right: 8px;
    font-size: 1.2rem;
    color: #fff;
}

input:focus ~ label,
input:valid ~ label {
    top: -5px;
}

.forgot {
    margin: -15px 0 15px;
    font-size: 0.9rem;
    color: #fff;
    display: flex;
    justify-content: center;
}

.forgot label input {
    margin-right: 3px;
}

.forgot label a {
    color: #fff;
    text-decoration: underline;
}

.forgot label a:hover {
    text-decoration: underline;
}

button {
    width: 100%;
    height: 40px;
    border: 2px solid #fff;
    border-radius: 40px;
    background: transparent;
    outline: none;
    cursor: pointer;
    font-size: 1em;
    font-weight: 600;
    color: #fff;
}
